@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 3rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.form input {
  padding: 8px 28px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.666);
  outline: none;
}

.submit-btn {
  background-color: #fff;
  color: black;
  padding: 6px 10px;
  border-radius: 4px;
  margin-top: 4px;
  border: 2px solid black;
}

.submit-btn:hover{
  background-color: inherit;
  color: #fff;
  border-color: greenyellow;
}

.submit-btn:hover:disabled {
  border-color: red;
}
